body{
	font-family: helvetica;
	margin:0px;

}

/**************
SPAN HEADER
******************/

header{
	margin: 0;
	color: grey;
	position: relative;
}

span{
	float: left;
	font-size: 1em;
	padding: 2px 10px ;
}

ul{
	list-style: none;
	margin: 0;
}

li {
	display: inline;
	padding: 5px 20px;
}

li:hover {
	color: black;
}


/**************
HEADER
******************/
#header_pic{
	background: url("background.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
	width: 100%;
	text-align: center;
	color: white;
	position: relative;
	padding: 0px;
	position: relative;
	margin-top:-15px;
}


h1{
	position: relative;
    top: 100px;
}

/**************
PRICE
******************/


.price-col {
	float: left;
	position: relative;
	top:10px;
    left: 184px;
	text-align: center;
    padding: 15px 10px;
    font-family: helvetica;
  	width: 22%;

}

.price-col p {
	font-family: 'Open Sans', sans-serif;
}
.dollar{
	font-size: 3.5em;
	float:center;
	font-weight: lighter;
}

.cap{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 100;
	padding: 10px ;
}


.features p{
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left:1px solid grey;
	margin: 0px;
	padding: 10px;
	background: #F9F8F6;
	color: #555150;
}


.choose-button{
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left:1px solid grey;
	padding: 20px;
}

button {
	font-weight: bold;
	

}
/*col 1*/

.col-color1{
	background-color: #409622;
	color: white;
	padding: 15% 30%;
	float: center;
	font-family: sans-serif;
}

.col-color1 p {
	padding: 0px;
	margin: 0px;
}

.col-color1 h4{
	font-weight: lighter;
	float: center;
}

/*col2*/

.col-color2{
	background-color: #234196;
	color: white;
	padding: 15% 30%;
	float: center;
	font-family: sans-serif;
}

.col-color2 p {
	padding: 0px;
	margin: 0px;
}

.col-color2 h4{
	font-weight: lighter;
	float: center;
}

/*col3*/

.col-color3{
	background-color: black;
	color: white;
	padding: 15% 30%;
	float: center;
	font-family: sans-serif;
}

.col-color3 p {
	padding: 0px;
	margin: 0px;
}

.col-color3 h4{
	font-weight: lighter;
	float: center;
}

button {
	font-weight: bold;
}
/**************
INFO
******************/
.info {
	box-sizing: border-box;
    width: 85%;
    position: relative;
    right: 102px;
    top: 45px;
}


.box{
float: left;
width: 40%;
position: relative;
left: 300px;
padding: 0px 10px 0px 10px;	
	}

.mini-header {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
/******************
FOOTER
******************/
footer {
	top: 40px;
	float: right;
	position: relative;
	display: inline-block;
	background: black;
	width: 100%;
	margin: 0px;
	color: white;

}

footer p {
	position: relative;
	left: 330px;
}

footer a {
	color: white;
}

