.octocat {

height: 300px;
width: 300px;
float: left;

padding: 10px;
}

.octocat a > img {
 height: 300px;
 width: 300px;
 border: 1px solid grey;

}

.image-footer{


}


.authors li a > img {
  height: 20px;
  width: 20px;
  float: right;
  /**margin-top: -21px;
  margin-right: 17px;*/



}

.span{
	float: left;
}


li{
list-style: none;
}